@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Fredoka:wght@300&family=Nanum+Gothic&family=Roboto+Mono:wght@300&family=Ubuntu:wght@300;400&display=swap");

.header {
  font-family: "Fredoka", sans-serif;
  background-color: rgba(193, 125, 193, 0.351);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  color: rgb(11, 63, 11);
  font-family: "Fredoka", sans-serif;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #fdf7ff,
    #fff5fb,
    #fff4f2,
    #fff5e9,
    #fff8e4,
    #f9fae3,
    #f2fbe3,
    #e9fde6,
    #defbed,
    #d8f7f3,
    #d7f3f7,
    #daeef7
  );
}

.login, .signup{
  color: rgb(11, 63, 11);
  font-family: "Fredoka", sans-serif;
  /* display: flex;
  align-content: center;
  align-items: center; */
  background-image: linear-gradient(
    to right,
    #fdf7ff,
    #fff5fb,
    #fff4f2,
    #fff5e9,
    #fff8e4,
    #f9fae3,
    #f2fbe3,
    #e9fde6,
    #defbed,
    #d8f7f3,
    #d7f3f7,
    #daeef7
  );

}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.welcomeBtn{
  display: flex;
  align-items: flex-end;
}

h2{
  margin-left: 30px;
  color: rgb(11, 63, 11)
}

/* @media("./images/defaultPic.jpeg"){
  opacity: 0.5;
} */

h3{
  color: rgb(11, 63, 11);
  text-align: center;
}

#partyVibe,
#chillVibe,
#chicVibe {
  margin-top: 80px;
  color: rgb(11, 63, 11);
}

#vibe {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.vibeCard {
  position: relative;
}

.cardActions{
  display: flex;
  align-content: space-between;
  margin-bottom: 0px;
  position: absolute;
  bottom: 20px;
}

#webButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 50px 100px 120px 50px;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 70px;
}

.footer {
  color: rgb(11, 63, 11);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
